@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bag O' Marbles</h1>
    <ul id="bagOfMarbles"></ul>   
</div>
<button onclick="loadRandomMarble();">random marble</button>
<div>Random: <span id="random"></span></div>




