@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="welcomeMessage">ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-lg-2">
        <input type="text" id="name" placeholder="enter name" />
    </div>
    <div class="col-md-10">
        <button onclick="welcomeMessageHandler();">Click me</button>
    </div>
</div>