
@{
    ViewBag.Title = "All";
}

<h2>All</h2>

<ul>

    <li>...</li>

    <li>...</li>

    <li>...</li>

    <li>...</li>

    <li>...</li>

    <li>...</li>

    <li>...</li>
    <li>...</li>
</ul>