
@{
    ViewBag.Title = "TopFive";
}

<h2>TopFive</h2>

<ul>
    <li>...</li>

    <li>...</li>

    <li>...</li>

    <li>...</li>

    <li>...</li>
</ul>

@Html.ActionLink("view All", "All", "Movies", new { }, new { @class="heading"})

@*output = <a href="/movie/all" class="heading">view All</a>  *@
